footer {}
#link-top {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--culoare-fundal);
    border: 3px solid var(--culoare-baza);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    opacity: 0.6;                             
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    z-index: 1000;
}
#triunghi {
    height: auto; 
    width: auto;
    border: none; 
    display: inline-block;
    color: var(--culoare-baza); 
    font-size: 2rem;
    line-height: 1;
    transform: translateY(-8%); 
    transition: color 0.5s ease-in-out;
}
#link-top:hover {
    opacity: 1;                                 
    background-color: var(--culoare-secundara);    
    border-color: var(--culoare-secundara);
    cursor: pointer;
}
#link-top:hover #triunghi {
    color: white; 
}